ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}
a{
    display: block;
    width: 180.5px;
    color:white;
    background-color:#bebebe;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    border-style:double;
 
    
    

}
a:hover{
    color: aliceblue;
    background-color:blueviolet;
}
.picture{
    position: absolute;
    top: 0px;
    right: 200px;
    
}